*{
	margin:0px;
	padding:0px;
	font-family: "Berkshire Swash", "Lobster Two";
	list-style: none;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: #A0A0A0;
	text-decoration: none;
}

body{
	background-color:#1b1b1b;

}

div#page-container{
		max-width: 1200px;
		margin: auto;
	}

/* END OF MISC */

header{
	padding:30px;
	color:white;
	background-color:black;
	overflow: auto;
  font-family: "verdana", arial;
}

div.heading-div{
	float: left;
	width: 30%;
}


nav.nav-wrapper{
	float: right;
	max-width: 700px;
	margin: 20px auto;
}

li.main-list{
	margin: 0 4px;
	display: inline-block;
}
/* END OF HEADER */

article#main-heading{
	text-align: center;
	margin: auto;
	padding: 3% 0;
	color: #99e1d9;
	text-shadow: 2px 3px 7px black;
	background: url("pics/whales.jpg") no-repeat 100%, center center;
	border-radius: 10px;
	background-size: cover;
	width: 100%;
	margin: 2% 0;

}
/* END OF MAIN HEADING */

section.containers{
	padding: 2px;
	margin: 20px;
	background: #70abaf;
	border: 4px dashed #705d56;
	z-index: 2;
	opacity: .7;
	overflow: hidden;
}

section.containers article{
	margin: 5px;
	display: inline-block;
	max-width: 100%;
	max-height: 200px;
	overflow: scroll;
}

aside.dreams{
	height: 200px;
}

p{
	max-width: 90%;
	margin: auto;
	font-weight: lighter;
	font-size: 17px;
}

h3{
	text-align: center;
	line-height: 200px;
	color: white;
	text-shadow: 3px 3px 3px black;
	font-size: 30px;
	font-weight: lighter;
}



article::-webkit-scrollbar{
	width: 6px;
	height: 0;
	background: #99e1d9;
	color: green;
}

article::-webkit-scrollbar-thumb{
	border-radius: 40px;
	background-color: #1b1b1b;

}

/* END OF GENERAL SETTINGS */

#atlantis{
	background: url("pics/atlantis.jpg") no-repeat 100%, center;
	background-size: cover;
}

#waters{
	background: url("pics/river-styx.jpg") no-repeat 100%, center;
	background-size: cover;
}

#syndicate{
	background: url("pics/syndicate.jpg") no-repeat 100%, center;
	background-size: cover;
}

#plaza{
	background: url("pics/plaza.jpg") no-repeat 100%, center;
	background-size: cover;
}

#warehouse{
	background: url("pics/warehouse.jpg") no-repeat 100%, center;
	background-size: cover;
}

#thugs{
	background: url("pics/abandoned.jpg") no-repeat 100%, center;
	background-size: cover;
}
/* END OF DREAMS */






section#social-media{
	text-align: center;
	padding-bottom: 30px;
}
section#social-media article{
	width: 23.9%;
	min-height: 100px;
	background: black;
	border: 2px double white;
	display: inline-block;
}

section#social-media h2{
	color: white;
	text-align: center;
	margin-top: 10%;
}

i.fa{
	font-size: 100px;
	/*margin: 10% auto 5% auto;*/
	margin: auto;
}
/* END OF SOCIAL MEDIA */

/* FOOTER */
footer{
	background: black;
	color: white;
	text-align: center;
	padding: 30px;
}

footer ul li{
	display: inline-block;
	width: 160px;
	padding: 5px;
}


/*--------------------- MID */
@media(min-width: 701px) and (max-width: 833px){


/* HEADER */
	header{
		padding:10px;
		color:white;
		background-color:black;
		text-align: center;
		font-size: 13px;
	}

	div.heading-div{
		margin: 0 auto;
		width: 30%;
		padding: 60px 25px;
	}


	nav.nav-wrapper{
		width: 40%;
		display: block;
		float: right;
	}

	li.main-list{
		display: block;
		width: 100%;
		margin: 1% auto;
		border: 1px solid white;
		border-radius: 20px;
		opacity: .9;
	}
}


/*-------------------- SMALL */
@media(min-width: 300px) and (max-width: 700px){


	header{
		padding:10px;
		color:white;
		background-color:black;
		text-align: center;
	}

	div.heading-div{
		margin: 0 auto;
		width: 100%;
	}


	nav.nav-wrapper{
		width: 100%;
		display: block;
		margin: 3% auto;
	}

	li.main-list{
		display: block;
		width: auto;
		margin: 5px 6%;
		border: 1px solid white;
		border-radius: 20px;
		opacity: .9;
	}
	/* END OF HEADER */










  section#social-media{
    text-align: center;
    padding: 4% 0;
  }
  section#social-media article{
    width: 95%;
    min-height: auto;
    background: black;
    border: 1px solid white;
    display: inline-block;
  }

  section#social-media h2{
    color: white;
    text-align: center;
    display: inline-block;
  }

  i.fa{
    font-size: 40px;
    margin: 4% auto 5% auto;
  }
  }
  /* END OF SOCIAL MEDIA */

  /* BEGINNING FOOTER */
  footer ul li{
  display: inline-block;
  width: 160px;
  border: 0px;
  }
